*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu * {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 10px;
}